@font-face {
  font-family: 'Ivy Mode';
  src: url('../fonts/IvyMode-Regular.eot');
  src: local('Ivy Mode Regular'), local('IvyMode-Regular'),
      url('../fonts/IvyMode-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/IvyMode-Regular.woff2') format('woff2'),
      url('../fonts/IvyMode-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Ivy Mode';
  src: url('../fonts/IvyMode-Light.eot');
  src: local('Ivy Mode Light'), local('IvyMode-Light'),
      url('../fonts/IvyMode-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/IvyMode-Light.woff2') format('woff2'),
      url('../fonts/IvyMode-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Aktiv Grotesk Ex Basic';
  src: url('../fonts/AktivGroteskExBasic-Italic.eot');
  src: local('Aktiv Grotesk Ex Basic Italic'), local('AktivGroteskExBasic-Italic'),
      url('../fonts/AktivGroteskExBasic-Italic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AktivGroteskExBasic-Italic.woff2') format('woff2'),
      url('../fonts/AktivGroteskExBasic-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk Ex Basic';
  src: url('../fonts/AktivGroteskExBasic-Regular.eot');
  src: local('Aktiv Grotesk Ex Basic Regular'), local('AktivGroteskExBasic-Regular'),
      url('../fonts/AktivGroteskExBasic-Regular.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AktivGroteskExBasic-Regular.woff2') format('woff2'),
      url('../fonts/AktivGroteskExBasic-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk Ex Basic';
  src: url('../fonts/AktivGroteskExBasic-MediumItalic.eot');
  src: local('Aktiv Grotesk Ex Basic Medium Italic'), local('AktivGroteskExBasic-MediumItalic'),
      url('../fonts/AktivGroteskExBasic-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AktivGroteskExBasic-MediumItalic.woff2') format('woff2'),
      url('../fonts/AktivGroteskExBasic-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk Ex Basic';
  src: url('../fonts/AktivGroteskExBasic-Medium.eot');
  src: local('Aktiv Grotesk Ex Basic Medium'), local('AktivGroteskExBasic-Medium'),
      url('../fonts/AktivGroteskExBasic-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AktivGroteskExBasic-Medium.woff2') format('woff2'),
      url('../fonts/AktivGroteskExBasic-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk Ex Basic';
  src: url('../fonts/AktivGroteskExBasic-Light.eot');
  src: local('Aktiv Grotesk Ex Basic Light'), local('AktivGroteskExBasic-Light'),
      url('../fonts/AktivGroteskExBasic-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AktivGroteskExBasic-Light.woff2') format('woff2'),
      url('../fonts/AktivGroteskExBasic-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aktiv Grotesk Ex Basic';
  src: url('../fonts/AktivGroteskExBasic-LightItalic.eot');
  src: local('Aktiv Grotesk Ex Basic Light Italic'), local('AktivGroteskExBasic-LightItalic'),
      url('../fonts/AktivGroteskExBasic-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('../fonts/AktivGroteskExBasic-LightItalic.woff2') format('woff2'),
      url('../fonts/AktivGroteskExBasic-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}