/* General scss  
 *------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  word-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
}

body {
  font-family: $base_font;
  background: $body_background_color;
}

h1 {
  &.heading {
    font-family: $head_font;
    font-size: 4.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: normal;
    &.heading-light {
      font-weight: 300;
    }
  }
}
h2 {
  &.heading {
    font-family: $head_font;
    font-size: 3.6rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: normal;
    &.heading-light {
      font-weight: 300;
    }
  }
}
h3 {
  &.heading {
    font-family: $head_font;
    font-size: 3rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    font-weight: normal;
    @include mq("phone") {
      font-size: 2.2rem;
    }
    &.heading-light {
      font-weight: 300;
    }
  }
}

h3 {
  font-family: $base_font;
  font-size: 2.4rem;
  letter-spacing: 0.06rem;
  &.italic {
    font-weight: normal;
    font-style: italic;
  }
  &.light {
    font-weight: 300;
    font-style: normal;
  }
}

h4 {
  font-family: $base_font;
  font-size: 2rem;
  letter-spacing: 0.06rem;
  &.italic {
    font-weight: normal;
    font-style: italic;
  }
  &.light {
    font-weight: 300;
    font-style: normal;
  }
}

h5 {
  font-family: $base_font;
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  &.italic {
    font-weight: normal;
    font-style: italic;
  }
  &.light {
    font-weight: 300;
    font-style: normal;
  }
}
h6 {
  font-family: $base_font;
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  @include mq("phone") {
    font-size: 1.2rem;
  }
  &.italic {
    font-weight: normal;
    font-style: italic;
    &.bold {
      font-weight: 500;
      font-style: italic;
    }
  }
  &.light {
    font-weight: 300;
    font-style: normal;
  }
}
.text-xx-lg {
  font-size: 2rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  &.light {
    font-weight: 300;
    font-style: normal;
  }
  &.italic {
    font-style: italic;
  }
}
.text-x-lg {
  font-size: 1.8rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  &.light {
    font-weight: 300;
    font-style: normal;
  }
  &.italic {
    font-style: italic;
  }
}
.text-lg {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  &.light {
    font-weight: 300;
    font-style: normal;
  }
  &.italic {
    font-style: italic;
  }
}
.text-md {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  &.light {
    font-weight: 300;
    font-style: normal;
  }
  &.italic {
    font-style: italic;
  }
}
.text-sm {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  &.light {
    font-weight: 300;
    font-style: normal;
  }
  &.italic {
    font-style: italic;
  }
}
.text-x-sm {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  &.light {
    font-weight: 300;
    font-style: normal;
  }
  &.italic {
    font-style: italic;
  }
}
.text-xx-sm {
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  font-weight: normal;
  &.light {
    font-weight: 300;
    font-style: normal;
  }
  &.italic {
    font-style: italic;
  }
}

/*background color Palette*/
.bg-mink {
  background-color: $color_mink;
}
.bg-tofu {
  background-color: $color_tofu;
}
.bg-almond {
  background-color: $color_almond;
}
.bg-silk {
  background-color: $color_silk;
}
.bg-oat {
  background-color: $color_oat;
}
.bg-kelp {
  background-color: $color_kelp;
}
.bg-olive {
  background-color: $color_olive;
}
.bg-barley {
  background-color: $color_barley;
}
.bg-lilac {
  background-color: $color_lilac;
}
.bg-sage {
  background-color: $color_sage;
}
.bg-dark-gray {
  background-color: $color_deep_grey;
}
.bg-light-gray {
  background-color: $color_light_grey;
}
.bg-white {
  background-color: $color_white;
}
.bg-black {
  background-color: $color_black;
}
.bg-green {
  background-color: $color_green;
}
.bg-red {
  background-color: $color_red;
}
/*text color Palette*/
.text-mink {
  color: $color_mink;
}
.text-tofu {
  color: $color_tofu;
}
.text-almond {
  color: $color_almond;
}
.text-silk {
  color: $color_silk;
}
.text-oat {
  color: $color_oat;
}
.text-kelp {
  color: $color_kelp;
}
.text-olive {
  color: $color_olive;
}
.text-barley {
  color: $color_barley;
}
.text-lilac {
  color: $color_lilac;
}
.text-sage {
  color: $color_sage;
}
.text-dark-gray {
  color: $color_deep_grey;
}
.text-light-gray {
  color: $color_light_grey;
}
.text-white {
  color: $color_white;
}
.text-black {
  color: $color_black;
}
.text-green {
  color: $color_green;
}
.text-red {
  color: $color_red;
}
.input-error {
  border: 0.1rem solid $color_red;
}
.input-success {
  border: 0.1rem solid $color_green;
}
.border {
  border: 0.1rem solid $color_tofu;
}
.border-silk {
  border: 0.1rem solid $color_silk;
}
.border-oat {
  border: 0.1rem solid $color_oat;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}

.shadow-1 {
  box-shadow: 0 0 0.3rem $color_tofu inset;
}
.shadow-2 {
  box-shadow: 0 0 0.3rem $color_tofu inset, 0 0.2rem 0.8rem rgba($color_tofu, 0.251449);
}
.shadow-3 {
  box-shadow: 0 0.2rem 0.8rem rgba($color_black, 0.099707);
}
.shadow-4 {
  box-shadow: 0 0.2rem 0.8rem rgba($color_black, 0.035358);
}

.custom-dropdown {
  position: relative;
  &.open {
    .dropdown-lable {
      img {
        @include transform(translateY(-50%) rotate(180deg));
      }
    }
    .dropdown-list {
      display: block;
    }
  }
  .dropdown-lable {
    border: 0.1rem solid $color_tofu;
    background-color: $color_silk;
    padding: 0.9rem 1rem;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.6rem;
    letter-spacing: 0.05rem;
    color: $color_deep_grey;
    cursor: pointer;
    user-select: none;
    position: relative;
    img {
      position: absolute;
      right: 0.8rem;
      top: 50%;
      @include transform(translateY(-50%));
      @include transition(transform 0.2s ease);
    }
  }
  .dropdown-list {
    border: 0.1rem solid $color_tofu;
    border-top: 0rem;
    box-shadow: 0 0.2rem 0.8rem rgba($color_black, 0.035358);
    background-color: $color_oat;
    max-height: 27.5rem;
    display: none;
    overflow-y: auto;
    ul {
      list-style: none;
      display: block;
      position: relative;
      li {
        display: block;
        font-weight: normal;
        font-size: 1.4rem;
        line-height: 2.4rem;
        letter-spacing: 0.05rem;
        color: $color_deep_grey;
        padding: 1rem 2rem;
        @include transition(all 0.2s ease);
        cursor: pointer;
        &.active:not(.disable),
        &:hover:not(.disable) {
          background-color: $color_silk;
        }
        &.disable {
          opacity: 0.3;
          user-select: none;
          cursor: default;
        }
      }
    }
  }
  &.dropup{
    &.open{
      .dropdown-list{
        ul{
          @include transform(translateY(0%));
        }
      }
    }
    .dropdown-list{
      position: fixed;
      z-index: 9999;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      max-height:inherit;
      background-color: rgba($color_deep_grey,0.25);
      ul{
        background-color: $color_white;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        max-height: 275px;
        overflow-y: auto;
        @include transform(translateY(100%));
        @include transition(transform 0.2s ease);
        li{
          &.dropup-label{
            border: 0.1rem solid $color_tofu;
            background-color: $color_silk;
            padding: 12px 0;
            text-align: center;
            font-weight: 500;
            font-size: 12px;
            line-height: 20px;
            letter-spacing: 0.5px;
            color: $color_deep_grey;
            cursor: pointer;
            user-select: none;
            z-index: 1;
            position: sticky;
            top: 0;
            img{
              width: 13.91px;
              height: 8px;
              position: absolute;
              top: 20px;
              right: 17.35px;
            }
          }
        }
      }
      
    }
  }
}

.custom-accordion {
  .accordion-item {
    border-bottom: 0.1rem solid $color_silk;
    &.open {
      .accordion-head {
        img {
          @include transform(translateY(-50%) rotate(45deg));
        }
      }
      .accordion-body {
        display: block;
      }
    }
    .accordion-head {
      font-size: 1.2rem;
      letter-spacing: 0.05rem;
      line-height: 2rem;
      color: $color_deep_grey;
      font-weight: normal;
      padding: 2rem 1.5rem;
      position: relative;
      cursor: pointer;
      img {
        position: absolute;
        right: 1.5rem;
        @include transform(translateY(-50%));
        top: 50%;
        @include transition(transform 0.2s ease);
      }
    }
    .accordion-body {
      padding: 0 2rem 2rem 2rem;
      font-size: 1rem;
      line-height: 1.8rem;
      letter-spacing: 0.05rem;
      font-weight: normal;
      display: none;
    }
  }
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
  line-height: 2.6rem;
}
a {
  text-decoration: none;
  font-size: 1.4rem;
}
code {
  padding: 0.4rem 0.8rem;
  margin: 0.5rem 0 0 0;
  font-size: 1.4rem;
  color: $code-color;
  display: inline-block;
  background-color: $code-bg-color;
  border-radius: 0.5rem;
}

.swatches-title{
  font-size: 12px;
  letter-spacing: 0.5px;
  line-height: 20px;
  margin-bottom: 12px;
}
.swatches-row {
  ul {
    @include flexbox();
    @include align-items(center);
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-right: 10px;
      &:last-child {
        margin-right: 0px;
      }
      .swatches-item{
        position: relative;
        input[type="radio"]{
          margin: 0;
          padding: 0;
          height: 0px;
          width: 0px;
          position: absolute;
          opacity: 0;
          &:checked + label{
            border-color: $color_deep_grey;
          }
        }
        label{
          height: 25px;
          width: 25px;
          border: 0.5px solid $color_tofu;
          display: block;
          border-radius: 100%;
          background-color: $color_oat;
          @include flexbox();
          @include align-items(center);
          @include justify-content(center);
          @include transition(border-color 0.2s ease);
          cursor: pointer;
          .swatches-type{
            height: 17px;
            width: 17px;
            border-radius: 100%;
            position: relative;
            display: block;
          }
        }
      }
    }
  }
}
