/* General scss  
 *------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  word-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: calc(var(--font-body-scale) * 62.5%);
  height: 100%;
}

body {
  font-family: $base_font;
  background: $body_background_color;
}

.h1,
h1 {
  font-size: 5.4rem;
  @include mq("phone") {
    font-size: 4.5rem;
  }
}

.h2,
h2 {
  font-size: 4.5rem;
  @include mq("phone") {
    font-size: 3.6rem;
  }
}

.h3,
h3 {
  font-size: 3.6rem;
  @include mq("phone") {
    font-size: 2.8rem;
  }
}

.h4,
h4 {
  font-size: 3rem;
  @include mq("phone") {
    font-size: 2.2rem;
  }
}

.h5,
h5 {
  font-size: 2.4rem;
  @include mq("phone") {
    font-size: 1.8rem;
  }
}

.h6,
h6 {
  font-size: 2rem;
  @include mq("phone") {
    font-size: 1.4rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $head_font;
  font-weight: $header_font_weight;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &.heading-primary {
    color: $primary_heading_color;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &.heading-secondary {
    color: $secondary_heading_color;
  }
}

p {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0 0 1rem 0;
  line-height: 2.6rem;
}
a {
  text-decoration: none;
  font-size: 1.4rem;
}
